.login-page {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-section {
    background-color: #1e1e1e;
    width: 90%;
    max-width: 350px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
}

.login-title {
    color: #ffffff; /* Color de texto principal */
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.login-slogan {
    color: #a0a0a0;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 300;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.login-input {
    background-color: #2d2d2d;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
  }