.secondary-button {
    background-color: #47C7FC; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
  }
  
  .secondary-button:hover {
    background-color: #303F9F; 
  }